:root {
  --waldo-red:        #E61C23;
  --waldo-dark-red:   #C91317;
  --waldo-white:      #FFFFFF;
  --waldo-off-white:  #F7F7F7;
  --waldo-navy:       #003A6C;
  --waldo-blue:       #1A63A6;
  --waldo-brown:      #6A3E2F;
  --waldo-skin:       #F3D1B0;
  --waldo-black:      #121212;
  --waldo-bg:         #f8efda;
  --waldo-bg-hover:     #f0e7d2
}

body {
    background-color: var(--waldo-bg);
}

#waldo-img {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    top: 0px;
    max-width: 50%;
    height: auto
}

#banner-img {
    grid-column: 3;
    grid-row: 1;
    position: relative;
    top: 0px;
    max-width: 75%;
    height: auto
}

#bb-preview {
    display: none;
    /*width: 100%;
    height: auto;*/
}

#bounding-box-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.upload-box-container {
    position: relative;
    border: 2px solid;
    border-radius: 2%;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.upload-box {
    position: absolute;  /* text floats on top */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    border-radius: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-box:hover {
    background-color: var(--waldo-bg-hover);
    cursor: pointer;
}

.upload-text {
    z-index: 100;
}

.blurred {
    filter: blur(2px); /* Adjust '5px' for desired blur amount */
}

.circle {
    pointer-events: auto;
    z-index: 9999; /* above canvas, above overlays */
}

input {
    display: none;
}

canvas {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #444;
}

footer a {
  color: #444;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


